.Container {
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cartsContainer {
  height: 350px;
  width: 90vw;
  background-color: #b3e5fc;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  direction: rtl;
  justify-content: center;
}
.cartsContainer2 {
  height: 350px;
  width: 90vw;
  background-color: #b3e5fc;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  direction: rtl;
  overflow-x: scroll;
  padding-left: 10px;
  padding-right: 0px;
}
.cartsContainer2::-webkit-scrollbar {
  background-color: unset;
}
.cartsContainer2::-webkit-scrollbar-thumb {
  background: #303f9f;
  border-radius: 10px;
}
.cartBox {
  height: 250px;
  min-width: 420px;
  border-radius: 15px;
  background-color: #2d41c3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  cursor: pointer;
}
.cartInputbox {
  height: 750px;
  width: 40vw;
  background-color: #26a69a;
  margin-top: 30px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: space-around;
}
.cartInput {
  height: 50px;
  width: 80%;
  position: relative;
}
.Input {
  height: 100%;
  width: 100%;
  background-color: unset;
  border: 3px white solid;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
  color: white;
  padding: 5px;
}
::placeholder {
  color: white;
 }
.inputTitleBox {
  height: 30px;
  width: fit-content;
  background-color: #26a69a;
  position: absolute;
  right: 0;
  top: -15px;
  display: flex;
  align-items: center;
  align-items: center;
}
.inputTitle {
  margin: 5px;
  font-weight: bold;
  color: white;
  user-select: none;
}
.submitButton {
  height: 50px;
  width: 150px;
  background-color: #ffee58;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 30px 3px rgba(0, 0, 0, 1);
}
.menuContainer {
  height: 100px;
  width: 35vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  direction: rtl;
}
.TransContainer {
  height: 500px;
  width: 50vw;
  margin-bottom: 30px;
}
.TranslistItems {
  height : 70px;
  width : '100%';
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  direction: rtl;

}
